<!DOCTYPE html>
<html ng-app="myApp" lang="en"> 
<head>
	<meta charset="utf-8">
	<title>JS4.1: Intro to Angular</title>
	<link rel="stylesheet" type="text/css" href="new.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>	
	<script src="main.js"></script>
</head>
<body>
	<div ng-controller="mainController">
		<button ng-click="click()">Click</button>
		<button ng-click="message()">Message</button>
		<h1 ng-if="surprise"> Surprise{{punctuation}}</h1>
		<button ng-click="list()">List</button>
		<ul ng-if="items">
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ul>
		
		<h2 ng-click="message()">Hey Hey Hey{{punctuation}}</h2>
		<p ng-mouseover="mouseOver()" ng-mouseleave="mouseOff($event)" ng-class="{pink: hovering}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum do</p>
		<a ng-click="toUrl($event)" ng-if="toSite" href="http://www.google.com">Link</a>	<br>

		<button class="giant" ng-click="showPop()">Click This!</button>
		<div class="design" ng-if="popup">
			<p>Super secret html content</p>
		</div>






	</div>
</body>
</html>